language: ruby
rvm:
  - 2.2.9
  - 2.3.8
  - 2.4.5
before_install:
  - gem update --system
  - gem --version
  - gem install bundler
script:
  - bundle exec rake
  - bash bin/legacy_versions_test.sh
matrix:
  include:
    - rvm: 2.5.3
      env: IGNORE_LEGACY=true
